<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-cover lg:flex" [style.backgroundImage]="'url(' + shownSlide.src + ')'"></div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
          <img src="./assets/logo/globe.jpg" class="w-32 h-32" />
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>